@charset "UTF-8";
#frame {
  margin: 0em;
  overflow: hidden;
  /*display: flex;
  flex-direction: column;*/
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10; }

#content {
  display: flex;
  flex-direction: column; }
  #content #panel-statistics {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; }
    #content #panel-statistics #panel-next {
      flex: 1; }
    #content #panel-statistics #panel-graph {
      flex: 1; }
    #content #panel-statistics #panel-radar {
      flex: 1; }
      #content #panel-statistics #panel-radar canvas {
        height: 100%; }
  #content #panel-days {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }

/* FLEX */
.flex-container {
  display: flex; }

.flex-item {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto; }

/* Side panels map och radar i egen SCSS (sidepnales) */
/* x-small  > 480 */
/* small  > 768 */
@media (min-width: 768px) {
  #frame {
    margin: 0.5em; }
  #panel-header #plats {
    font-size: 1.7em; } }

/* medium > 992 */
@media (min-width: 992px) {
  #panel-header #plats {
    font-size: 2.2em; } }

/* large > 1200 */
@media (min-width: 1200px) {
  #panel-header #plats {
    font-size: 2.7em; } }

/* Inre layout weather-panels */
.weather-panel {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  margin: 2.5px; }
  .weather-panel article {
    flex: 1 0 auto;
    position: relative; }
    .weather-panel article .panel {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
      .weather-panel article .panel .weather-item {
        display: -webkit-flex;
        display: flex; }
      .weather-panel article .panel .weather-item-list .weather-item {
        position: static;
        line-height: 2rem; }
        .weather-panel article .panel .weather-item-list .weather-item .weather-data {
          flex-grow: 1; }
        .weather-panel article .panel .weather-item-list .weather-item .icon canvas {
          height: 2rem; }
      .weather-panel article .panel .weather-item-big.weather-item {
        flex-direction: column; }

#panel-next .next-weather-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }
  #panel-next .next-weather-box .next-weather {
    flex: 1; }

html, body {
  height: 100%;
  overflow: hidden; }

h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0; }

body {
  background-color: #405b77;
  background: linear-gradient(#6c8eb0, #405b77, #2e4256); }
  body #backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0.4;
    /*background-repeat: no-repeat;
    background-size: cover;
    &.winter {
      &.day {
        background-image: url("../gfx/backgrops/winter_day.jpg");
      }
      &.night {
        background-image: url("../gfx/backgrops/winter_night.jpg");
      }
    }*/ }

#frame .panel {
  background-color: transparent; }

#frame #panel-main {
  opacity: 1; }

#frame #panel-header #plats {
  padding-left: 0; }

/* x-small  > 480 */
@media (min-width: 480px) {
  #frame {
    margin: 0em; } }

/* small  > 768 */
@media (min-width: 768px) {
  #frame {
    margin: 0em; } }

/* medium > 992 */
@media (min-width: 992px) {
  #frame {
    margin: 0em; } }

/* large > 1200 */
.modal.wait {
  margin-top: 50%; }

#panel-map {
  transition: left 1s; }
  #panel-map #map-wrapper {
    transition: box-shadow 1s; }

#panel-radar {
  transition: right 1s; }
  #panel-radar #radar-wrapper {
    transition: box-shadow 1s; }

#panel-heroes {
  transition: left 1s, right 1s, opacity 1s; }

#panel-days {
  transition: left 1s, right 1s, opacity 1s; }

#panel-radar {
  transition: left 1s, right 1s, opacity 1s; }

#panel-map {
  transition: left 1s, right 1s, opacity 1s; }

#panel-header {
  transition: left 1s, right 1s, opacity 1s; }

#plats {
  transition: padding-left 1s; }

#panel-header #plats {
  font-size: 1.2em; }

#panel-next .next-item {
  margin: 2px; }
  #panel-next .next-item h3 {
    background-color: #8a6397;
    font-size: 1.5em; }

#panel-next .nederbord {
  background-color: #a281ac; }

#panel-next .next-weather {
  background-color: #6E4F78; }

#panel-footer {
  background-color: rgba(0, 0, 0, 0.5);
  border-top: solid 3px #253545;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0em;
  padding-bottom: 0.2em; }
  #panel-footer nav {
    text-align: left; }
    #panel-footer nav a {
      font-size: 1.1em;
      padding: 0.2em;
      padding-top: 0em;
      padding-left: 0.4em;
      padding-right: 0.4em;
      float: left;
      display: block;
      color: #ddd;
      text-decoration: none; }
      #panel-footer nav a.active {
        background-color: #253545;
        color: #fff; }
  #panel-footer #footer-body {
    padding: 0.2em;
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.5);
    float: right; }

.panel {
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: relative; }

.weather-panel {
  position: relative;
  left: 0;
  top: 0;
  overflow: hidden;
  text-align: center;
  font-size: 0.9em;
  min-width: 150px;
  background-color: #131c24;
  background: linear-gradient(#131c24, #253545); }
  .weather-panel.weekend {
    background-color: #253545;
    background: linear-gradient(#253545, #374f66); }
  .weather-panel h1, .weather-panel h2, .weather-panel h3, .weather-panel h4, .weather-panel p {
    margin: 0px;
    padding: 0px; }
  .weather-panel header {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0.2em; }
    .weather-panel header .subtitle {
      font-size: 0.8em;
      opacity: 0.5; }

/* weather item lists generellt */
/* weather items generellt */
.weather-item .cold {
  color: #A9DEF5; }

.weather-item .hot {
  color: #ec971f; }

.weather-item .warning {
  color: #FA7E55; }

.weather-item .suppress {
  opacity: 0.2; }

.weather-item .temperature {
  font-size: 3em; }

.weather-item .precipitation {
  font-weight: bold;
  color: #A9DEF5; }
  .weather-item .precipitation.suppress {
    color: white;
    font-weight: normal; }

.weather-item .wind .wind-direction {
  margin-right: 0.3em; }
  .weather-item .wind .wind-direction canvas {
    width: 1em;
    height: 1em; }

.weather-item .wind.suppress {
  color: white;
  font-weight: lighter; }

.weather-item .temperature {
  font-weight: bold; }

.weather-item.list-item {
  display: flex;
  font-size: 1rem;
  font-weight: normal; }
  .weather-item.list-item p {
    padding: 0px;
    margin: 0px; }
  .weather-item.list-item .weather-data {
    flex-grow: 1;
    float: left; }
  .weather-item.list-item .temperature {
    font-size: 1.2em; }
  .weather-item.list-item .icon canvas {
    width: 2em;
    height: 2em; }

/* weather-boxes i heroes responsivt */
/* generell längre upp (mobilef first = xsmall) */
.scroll-area {
  height: 100%; }

.iScrollIndicator {
  background-color: #6E4F78 !important;
  border: none  !important; }
