

#frame {
  margin: $frames-min-margin;
  overflow: hidden;
  /*display: flex;
  flex-direction: column;*/
  @include cover();
  z-index: 10;
}

// för styling se _weather_header
#header {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  height: $header-height;
}

#content {
  //display: flex;
  //flex-direction: column;
  position: absolute;
  top: $header-height;
  right: 0px;
  left: 0px;
  bottom: $footer-height;

  .column {
    display: flex;
    flex-direction: column;
    height: 100%;

    .panel {
      flex: 1;
    }
  }


  #panel-next {
    #next-container {
      height: 100%;
    }
  }
  #panel-graph {
    #graph-container {
      @include cover();
      article {
        flex: 1 0 auto;

      }
    }
  }
  #panel-radar {
    flex: 1;
    height: 100%;
    #radar-container {
      height: 100%;
      canvas {
        height: 100%;
      }
    }
  }


  #panel-days {
    flex: 1;

    #days-container {
      height: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

// för styling se _weather_footer
#footer {
  position: absolute;
  height: $footer-height;
  right: 0px;
  left: 0px;
  bottom: 0px;
}








