// Bottswatch overides
//"OVERRIDA" I Bootswatchs varaibles.scss !!!

// slut overrides

$color-bg-weather-boxes: #253545;
$color-body:         lighten($color-bg-weather-boxes, 15%); // org #2B3E50;
$color-body-grad-lighter:         lighten($color-body, 20%);
$color-body-grad-darker:          darken($color-body, 10%);

$color-hero:         #6E4F78;
$color-hero-light: lighten($color-hero, 20%);
$color-hero-dark: lighten($color-hero, 10%);

$color-text: rgb(255, 255, 255);
$color-text-mild: rgba(255, 255, 255, 0.5);

$color-cold-text: #A9DEF5;
$color-hot-text: #ec971f;
$color-warning-text: #FA7E55;

//$color-bg-weather-boxes: $gray-light;


$color-hero-1:         $color-hero;
$color-hero-2:         lighten($color-hero-1, 10%);
$color-hero-3:         lighten($color-hero-2, 10%);
$color-hero-4:         lighten($color-hero-3, 10%);



// layout
$panel-gutter: 5px;
$weather-panel-min-width: 140px;
// alla avstånd med min gäller för small och bör/kan växa med media-quiery
$frames-min-margin: 0em;

$header-min-title-height: 1.2em;
$header-height: $header-min-title-height * 1.8;
$footer-min-title-height: 1em;
$footer-height: $footer-min-title-height * 1.5;
$days-height: 2em;

$body-gutter-lg: 15px;
$body-gutter-md: $body-gutter-lg;
$body-gutter-sd: 8px;
$body-gutter-xsd: 0px;

// sidepanels
$sidepanel-button-size: 80px;
$sidepanel-button-padding: 3px;

// map
$map-width: 480px;

// radar
$radar-width: 480px;
