#frame {

  &.map-open {
    #panel-heroes {
      opacity: 0.4;
    }
    #panel-days {
      opacity: 0.4;
    }
    #panel-radar {
      opacity: 0;
    }
    #panel-map {
      #map-wrapper {
        box-shadow: 15px 0px 20px 0px rgba(0, 0, 0, 0.75);
      }
    }
  }

  &.radar-open {
    #panel-radar {
      #radar-wrapper {
        box-shadow: -15px 0px 20px 0px rgba(0, 0, 0, 0.75);
      }
    }
    #panel-heroes {
      opacity: 0.4;
    }
    #panel-days {
      opacity: 0.4;
    }
    #panel-header {
      opacity: 0.4;
    }
    #panel-map {
      opacity: 0;
    }
  }


  .side-panel {
    height: 100%;
    top: 0;
    z-index: 99;
    position: absolute;
    overflow: hidden;
    /*background-color: #3c763d;*/

    &.open {

    }
  }

  .sidepanel-button {
    display: inline-block;
    vertical-align: top;
    position: relative;
    /*width: $sidepanel-button-size;
    height: $sidepanel-button-size;
    position: absolute;
    top: 0;
    z-index: 9999;*/

    a {
      display: block;
      position: absolute;
      top: -$sidepanel-button-size + $sidepanel-button-padding;
      width: $sidepanel-button-size/2;
      height: $sidepanel-button-size/2;
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;
    }
  }

  #panel-map {
    /*left: -$map-width;*/
    left: -1000px; // jS flyttar rätt efter dimensionscalc i ui.responsive.js
    text-align: left;

    &.map-open {
      left: 0px;
    }

    #map-button-wrapper {
      a {
        background-image: url("../gfx/icon_location_white.png");
        background-position: left;
        left: 2 * $sidepanel-button-padding;
      }
    }

    #map-wrapper {
      height: 100%;
      width: $map-width;
      display: inline-block;
      vertical-align: top;
      box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
      overflow: hidden;
    }

    .sidepanel-button {
      border-style: solid;
      border-width: $sidepanel-button-size $sidepanel-button-size 0 0;
      border-color: $brand-primary transparent transparent transparent;
    }
  }

  #panel-radar {
    // //width: $radar-width;
    right: -1000px; // jS flyttar rätt efter dimensionscalc i ui.responsive.js
    text-align: right;

    #radar-button-wrapper {

      a {
        background-image: url("../gfx/icon_location_white.png");
        background-position: right;
        /* right: -2 * $sidepanel-button-padding; */
        right: -$sidepanel-button-size + (2* $sidepanel-button-padding);
        top: $sidepanel-button-padding;
      }
    }

    #radar-wrapper {
      display: inline-block;
      vertical-align: top;
      box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    }

    .sidepanel-button {
      border-style: solid;
      border-width: 0 $sidepanel-button-size $sidepanel-button-size 0;
      border-color: transparent $brand-primary transparent transparent;
    }
  }

}