/* weather item lists generellt */
.weather-item-list {

}

/* weather items generellt */
.weather-item {
  .cold {
    color: $color-cold-text;
  }
  .hot {
    color: $color-hot-text;
  }
  .warning {
    color: $color-warning-text;
  }
  .suppress {
    opacity: 0.2;
  }

  .temperature {
    font-size: 3em;
  }
  .precipitation {
    font-weight: bold;
    color: $color-cold-text;

    &.suppress {
      color: $color-text;
      font-weight: normal;
    }
  }
  .wind {
    .wind-direction {
      margin-right: 0.3em;
      canvas {
        width: 1em;
        height: 1em;
      }
    }
    &.suppress {
      color: $color-text;
      font-weight: lighter;
    }
  }

  .temperature {
    font-weight: bold;
  }

  &.big-item {

  }

  &.list-item {
    display: flex;
    font-size: 1rem;
    font-weight: normal;

    p {
      padding: 0px;
      margin: 0px;
    }

    .weather-data {
      flex-grow: 1;
      float: left;
      //display: inline-block;
      //width: 33%;
    }

    .temperature {
      font-size: 1.2em;
    }

    .icon {
      canvas {
        width: 2em;
        height: 2em;
      }
    }

  }

}







/* weather-boxes i heroes responsivt */
/* generell längre upp (mobilef first = xsmall) */
@media (min-width: $screen-md-min) {



}



