.panel {
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: relative;
}

.main-panel {
  margin: $panel-gutter;
}

.ui-panel {
  position: relative;
  left: 0;
  top: 0;
  overflow: hidden;
  text-align: center;
  font-size: 0.9em;
  display: flex;
  flex-direction: column;

  @include backgroundGrad(darken($color-bg-weather-boxes, 10%), $color-bg-weather-boxes);

  &.weekend {
    @include backgroundGrad($color-bg-weather-boxes, lighten($color-bg-weather-boxes, 10%));
  }

  h1, h2, h3, h4, p {
    margin: 0px;
    padding: 0px;
  }

  header {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0.2em;


    .title {

    }

    .subtitle {
      font-size: 0.8em;
      opacity: 0.5;
    }
  }

  article {
    flex:auto;
  }

  .btn-expand {
    display: none;
  }
  .btn-collaspe {
    display: none;
  }

  &.expandable {
    .btn-expand {
      display: inline;
    }
    .btn-collapse {
      display: none;
    }
  }

  &.expanded {
    @include cover();
    margin: 20px;
    z-index: 99;

    .btn-expand {
      display: none;
    }
    .btn-collapse {
      display: inline;
    }
  }

} // ui-panel